<% result_class = result.losers.include?(options[:pov_player]) ? "loss" : "win" %>
<tr class="<%= result_class %>">
  <td class="result-winner">
    <span class="pure-hidden-phone">
      <%= image_tag(gravatar_url(result.winners.first, :size => 128), class: 'avatar') %>
    </span>
    <div class="result-player-details">
      <span class="player-name">
        Team <%= result.winners.first.last_name %>
      </span>
      <br />
      <% if result.teams.first.score %>
        <span class="team-score">
          <%= result.teams.first.score %>
        </span>
      <% end %>
    </div>
  </td>
  <td class="result-result">
    <div class="defeated">
      D
    </div>
    <div class="result-time">
      <%= time_ago_in_words_short(result.created_at) %>
    </div>
  </td>
  <td class="result-loser">
    <span class="pure-hidden-phone">
      <%= image_tag(gravatar_url(result.losers.first, :size => 128), class: 'avatar') %>
    </span>
    <div class="result-player-details">
      <span class="player-name">
        Team <%= result.losers.first.last_name %>
      </span>
      <br />
      <% if result.teams.last.score %>
        <span class="team-score">
          <%= result.teams.last.score %>
        </span>
      <% end %>
    </div>
  </td>
  <td class="pure-hidden-phone extra-actions">
    <p>
      <% if options[:specify_league] %>
        in
        <strong><%= result.game.name %></strong>
      <% end %>
    </p>
    <% if result.most_recent? -%>
      <%= link_to "Delete", game_result_path(result.game, result), :class => "pure-button button-danger delete-button", :method => :delete, :confirm => "Are you sure?" %>
    <% end -%>
  </td>
</tr>
