<div class="header">
  <h1>Add Result</h1>
</div>

<%= form_for [@game, @result], :html => {:class => "well form-inline"} do |f| %>
  <%= f.error_messages %>

  <% @result.teams.each.with_index do |team, index| %>
    <br />
    <%= select "result[teams][#{index}]",
      "players",
        player_options,
        {:include_blank => ''},
        :class => "players span5",
        :multiple => @game.max_number_of_players_per_team != 1,
        "data-placeholder" => "Team #{index + 1}" %>
    <br />
    <% if @game.record_scores %>
      <%= f.label :score %>:
      <%= number_field_tag "result[teams][#{index}]score", class: "players input-small" %> (optional)
    <% end %>
    <% if index != @result.teams.size - 1 %>
      <%= select "result[teams][#{index}]",
        :relation,
          ["defeats",
           "ties"],
           {},
           :class => "input-small" %>
    <% end %>
    <br />
  <% end %>

  <br />
  <%= f.submit :class => "pure-button pure-button-primary" %>
<% end %>

<%= javascript_tag do %>
  $(".players").chosen();
<% end %>
