<div class="header">
  <h1><%= @player.name %></h1>
  <h2>
    <%= @game.name %> rating: <%= @player.ratings.find_by_game_id(@game).value %>
  </h2>
</div>

<div>
  <div>
    <h2>Head-to-Head Records</h2>
    <ol>
      <% @game.all_ratings.each do |rating| %>
        <% opponent = rating.player %>
        <% wins = @player.results.wins.for_game(@game).against(opponent).size %>
        <% losses = @player.results.losses.for_game(@game).against(opponent).size %>
        <li class="<%= "gray" if @player != opponent and wins == 0 and losses == 0 %>" >
          <%= opponent.name %>
          <span class="pull-right">
          <% unless opponent == @player %>
            (<%= rating.value %>)
            (<%= wins %> - <%= losses %>)
          <% end %>
          </span>
        </li>
      <% end %>
    </ol>
  </div>

  <div>
    <h2>Recent Results</h2>
    <% player_recent_results = @player.results.for_game(@game).limit(15).order('created_at desc') %>
    <%= render :partial => 'shared/results', :object => player_recent_results, locals: { options: { pov_player: @player } } %>
  </div>
</div>
