<tr>
  <td>
    <%= (rating_counter + 1).ordinalize %>
  </td>
  <td class="player">
    <span class="pure-hidden-phone">
      <%= image_tag(gravatar_url(rating.player, :size => 128), class: 'avatar') %>
    </span>
    <%= link_to player_game_path(rating.player, @game) do %>
      <%= rating.player.name %>
    <% end %>
  </td>
  <td>
    <%= rating.value %>
  </td>
  <td>
    <%= rating.player.results.for_game(rating.game).wins.size %>
  </td>
  <td>
    <%= rating.player.results.for_game(rating.game).losses.size %>
  </td>
</tr>
