<div class="header">
  <h1>
    <%= @game.name %>
  </h1>
  <section>
    <%= link_to new_game_result_path(@game), :class => "pure-button button-success" do %>
      Add Result <i class="fa fa-plus-square-o"></i>
    <% end %>
    <%= link_to edit_game_path(@game), :class => "pure-button" do %>
      Game Settings <i class="fa fa-cog"></i>
    <% end %>
    <% if @game.results.empty? %>
      <span><%= link_to "Delete", game_path(@game), :method => :delete, :confirm => "Are you sure?", :class => "pure-button button-danger" %></span>
  <% end %>
  </section>
</div>
<div>
  <h2>Recent Results</h2>
  <% if @game.recent_results.any? %>
    <%= render :partial => 'shared/results', :object => @game.recent_results, locals: { options: {} } %>
<% else %>
    <span>No results, play some games!</span>
<% end %>

  <h2>Active Ratings</h2>
  <table class="pure-table rating-table">
    <thead>
      <tr>
        <td>Rank</td>
        <td>Player</td>
        <td>Rating</td>
        <td>W</td>
        <td>L</td>
      </tr>
    </thead>
    <%= render :partial => 'rating', :collection => @game.all_ratings.select(&:active?) %>
  </table>
  <p>
    <%= link_to "View All", game_ratings_path(@game) %>
  </p>
</div>
