<%= form_for @player, :html => {:class => "pure-form"} do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <div class="control-group">
      <%= f.label :name, :class => "control-label" %>
      <div class="pure-controls">
        <%= f.text_field :name, :class => "input-xlarge" %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, :class => "control-label" %>
      <span class="help-inline">only used to find a <a href="http://gravatar.com/">Gravatar</a></span>
      <div class="pure-controls">
        <%= f.text_field :email, :class => "input-xlarge" %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit :class => "pure-button pure-button-primary" %>
      <%= link_to "Cancel", root_path, :class => "pure-button button-warning" %>
    </div>
  </fieldset>
<% end %>
