<!DOCTYPE html>
<html>
<head>
  <title>SitePong</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="SHORTCUT ICON" href="<%= image_path "favicon.png" %>" />
  <meta name="viewport" content="width=device-width" />
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
  <div id="layout">
    <a href="#menu" id="menuLink" class="menu-link">
      <!-- Hamburger icon -->
      <span></span>
    </a>

    <div id="menu">
      <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="/">SitePong</a>

        <ul>
          <li class="pure-menu-heading">
          <span>Games</span>
          <%= link_to new_game_path, :class => "action" do %>
            Add <i class="fa fa-plus-square"></i>
          <% end %>
          </li>
          <% Game.all.sort_by(&:name).each do |game| %>
            <li class="<%= "active" if @game == game %>">
          <%= link_to game.name, game_path(game) %>
          </li>
        <% end %>

          <li class="pure-menu-heading">
          <span>Players</span>
          <%= link_to new_player_path, :class => "action" do %>
            Add <i class="fa fa-plus-square"></i>
          <% end %>
          </li>
          <% Player.all.sort_by(&:name).each do |player| %>
            <li class="<%= "active" if @player == player %>">
          <%= link_to player.name, player_path(player) %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>

    <div class="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
